@import "tailwindcss";
@import './base.css';


/* Анимации перехода между страницами */
.page-enter-active,
.page-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from {
    opacity: 0;
    transform: translateY(20px);
}

.page-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}

/* Стили для активных ссылок в навигации */
.router-link-active {
    @apply bg-orange-50 text-orange-600;
}
